* {
  box-sizing: border-box;
}

.row {
  width: 960px;
  margin: 0 auto;
}

/* item_add */
#item_add .row {
  background-color: #eeeeaa;
  padding: 80px 150px;
  margin-top: 100px;
}

#item_add .row h1 {
  text-align: center;
  font-size: 40px;
}

#item_add .row p {
  font-size: 28px;
}

#item_add .row input {
  height: 28px;
  padding: 5px;
  vertical-align: middle;
  width: 300px;
}

#item_add .row input[type="submit"] {
  width: 50px;
  width: 200px;
  height: 50px;
  font-size: 30px;
}

#item_add .row p.submit {
  width: 200px;
  height: 50px;
  margin: 0 auto;
}

#item_add .row p select {
  height: 28px;
  width: 200px;
  vertical-align: middle;
}

/* item_add_result */
#item_add_result .row {
  background-color: #eeeeaa;
  padding: 80px;
  margin-top: 100px;
}

#item_add_result .row h1,
#item_add_result .row p {
  text-align: center;
}

#item_add_result .row h1 {
  font-size: 50px;
}

#item_add_result .row p {
  font-size: 40px;
}

#item_add_result .row p a {
  display: block;
  height: 50px;
  line-height: 50px;
  text-align: center;
  text-decoration: none;
  background-color: #000000;
  color: #ffffff;
  width: 200px;
  margin: 0 auto;
  border-radius: 20px;
}
#item_add_result .row p a:hover {
  background-color: #ffffff;
  color: #000000;
}

/* restock */
#restock h1 {
  text-align: center;
}

#restock table {
  margin: 0 auto;
}

#item_add .row p textarea {
  height: 300px;
  width: 500px;
}


/* restock_result */
#restock_result .row {
  background-color: #eeeeaa;
  padding: 80px;
  margin-top: 100px;
}

#restock_result .row h1,
#restock_result .row p {
  text-align: center;
}

#restock_result .row h1 {
  font-size: 50px;
}

#restock_result .row p {
  font-size: 40px;
}

#restock_result .row p a {
  display: block;
  height: 50px;
  line-height: 50px;
  text-align: center;
  text-decoration: none;
  background-color: #000000;
  color: #ffffff;
  width: 200px;
  margin: 0 auto;
  border-radius: 20px;
}
#restock_result .row p a:hover {
  background-color: #ffffff;
  color: #000000;
}

/* order */

#order .row table {
  margin: 0 auto;
}

#order .row table caption {
  font-size: 20px;
}

#order .row table tr th,
#order .row table tr td {
  font-size: 11px;
  text-align: center;
  padding: 2px;
}

#order .row form {
  width: 250px;
  margin: 0 auto;
  margin-top: 100px;
}

#order .row form p {
  margin: 0;
}

#order .row form input {
  margin-bottom: 20px;
  height: 40px;
  width: 250px;
  font-size: 25px;
}

#order .row form input[type="submit"] {
  width: 100px;
  height: 50px;
  display: block;
  margin: 0 auto;
  background-color: #000000;
  color: #ffffff;
}

#order .row form input[type="submit"]:hover {
  background-color: #ffffff;
  color: #000000;
}

#order .row form p a {
  display: block;
  text-decoration: none;
  width: 100px;
  height: 40px;
  text-align: center;
  margin: 30px auto;
  background-color: #999999;
  line-height: 40px;
}

#order .row form p a:hover {
  background-color: #444444;
  color: #449999;
}
